:root{
    --header-height: 0rem;
    --footer-height: 0rem;
}

#containers{
    color: black;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    cursor: default;
    width: 100svw;
    height: 100svh;
    overflow: hidden;
}
canvas#canvas{
    width: 100%;
    height: 100%;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: #1d1d1d;
}

#site-wrapper{
    box-sizing: border-box;
    width: 100vw;
    min-height: 100svh;
    padding-bottom: var(--footer-height);
    position: relative;
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: var(--header-height);
    background: pink;
}
footer{
    width: 100vw;
    height: var(--footer-height);
    background: pink;
    position: absolute;
    bottom: 0;
}

#game-container{
    height: 100svh;
    width: 100svw;
}

.pop-up-add{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #f7f7f7;
}