#obj-container {
    height: 100svh;
    width: 100svw;
    text-align: center;
    z-index: 49;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes rotateBtn{
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(180deg);
    }
}
#add-btn:hover{
    box-shadow: 0 0 10px 3px #f2e2ea9f;
    color: #fff;
}
#add-btn {
    width: 200px;
    height: 200px;
    background: #1d1d1d;
    border: 2px solid #f2e2ea;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 250ms;
    z-index: 9;
    transform-origin: center center;
    animation: rotateBtn 20s linear infinite;
}
#add-btn-click{
    font-size: 30px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;
}
