#menu-container{
    width: 100svw;
    height: 100svh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    color: white;
    z-index: 600;
}
#menu-container-inner{
    width: 100%;
    height: 100%;
    position: relative;
}

#menu-btn-container{
    z-index: 620;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px 0;
    position: absolute;
    top: 0;
    right: 0;
}
.menu-btn{
    box-sizing: border-box;
    pointer-events: auto;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: 3px #f7f7f7 solid;
}
.menu-icon{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#bg-screen{
    background: #000000f0;
    position: absolute;
    width: 100svw;
    height: 100svh;
    top: 0;
    left: 0;
    z-index: 601;
}

#guide-container{
    box-sizing: border-box;
    z-index: 600;
    padding: 30px;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 30px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
.guide-item{
    font-size: 18px;
    padding: 5px 10px;
    color: #ffd500;
    font-weight: 900;
    background: #1a1a1a;
    border: solid 3px #9f9f9f;
    pointer-events: auto;
    animation: fadeIn 1s ease-out;
}

/* Archive & Setting */
#archive-container, #setting-container{
    width: 100svw;
    height: 100svh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-title{
    box-sizing: border-box;
    height: 100px;
    font-size: 50px;
    font-family: 900;
    color: #ededed;
    letter-spacing: 6px;
    padding: 25px 50px;
    border-bottom: solid 5px #c8c8c8;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.menu-title-sub{
    box-sizing: border-box;
    font-size: 18px;
    color: #a7a7a7;
    letter-spacing: 3px;
    padding: 10px 0;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

/* Archive */
@keyframes botLight{
    0%{
        box-shadow: 5px 5px 10px 10px #00d5ff, -5px -5px 10px 10px #d3fff8, -5px 5px 10px 10px #0dffff, 5px -5px 10px 10px #0730ff;
    }
    25%{
        box-shadow: -5px 5px 10px 8px #00d5ff, 5px -5px 10px 8px #d3fff8, -5px -5px 10px 8px #0dffff, 5px 5px 10px 8px #0730ff;
    }
    50%{
        box-shadow: -5px -5px 10px 6px #00d5ff, 5px 5px 10px 6px #d3fff8, 5px -5px 10px 6px #0dffff, -5px 5px 10px 6px #0730ff;
    }
    75%{
        box-shadow: 5px -5px 10px 8px #00d5ff, -5px 5px 10px 8px #d3fff8, 5px 5px 10px 8px #0dffff, -5px -5px 10px 8px #0730ff;
    }
    100%{
        box-shadow: 5px 5px 10px 10px #00d5ff, -5px -5px 10px 10px #d3fff8, -5px 5px 10px 10px #0dffff, 5px -5px 10px 10px #0730ff;
    }
}
@keyframes addLight{
    0%{
        box-shadow: 5px 5px 10px 10px #ff5900, -5px -5px 10px 10px #ffd3d3, -5px 5px 10px 10px #ff8a0d, 5px -5px 10px 10px #ff1717;
    }
    25%{
        box-shadow: -5px 5px 10px 8px #ff5900, 5px -5px 10px 8px #ffd3d3, -5px -5px 10px 8px #ff8a0d, 5px 5px 10px 8px #ff1717;
    }
    50%{
        box-shadow: -5px -5px 10px 6px #ff5900, 5px 5px 10px 6px #ffd3d3, 5px -5px 10px 6px #ff8a0d, -5px 5px 10px 6px #ff1717;
    }
    75%{
        box-shadow: 5px -5px 10px 8px #ff5900, -5px 5px 10px 8px #ffd3d3, 5px 5px 10px 8px #ff8a0d, -5px -5px 10px 8px #ff1717;
    }
    100%{
        box-shadow: 5px 5px 10px 10px #ff5900, -5px -5px 10px 10px #ffd3d3, -5px 5px 10px 10px #ff8a0d, 5px -5px 10px 10px #ff1717;
    }
}
@keyframes upLight{
    0%{
        box-shadow: 5px 5px 10px 10px #ffff00, -5px -5px 10px 10px #fff1d3, -5px 5px 10px 10px #fffdbe, 5px -5px 10px 10px #fff707;
    }
    25%{
        box-shadow: -5px 5px 10px 8px #ffff00, 5px -5px 10px 8px #fff1d3, -5px -5px 10px 8px #fffdbe, 5px 5px 10px 8px #fff707;
    }
    50%{
        box-shadow: -5px -5px 10px 6px #ffff00, 5px 5px 10px 6px #fff1d3, 5px -5px 10px 6px #fffdbe, -5px 5px 10px 6px #fff707;
    }
    75%{
        box-shadow: 5px -5px 10px 8px #ffff00, -5px 5px 10px 8px #fff1d3, 5px 5px 10px 8px #fffdbe, -5px -5px 10px 8px #fff707;
    }
    100%{
        box-shadow: 5px 5px 10px 10px #ffff00, -5px -5px 10px 10px #fff1d3, -5px 5px 10px 10px #fffdbe, 5px -5px 10px 10px #fff707;
    }
}

#star-archives{
    width: 80svw;
    min-width: 250px;
    box-sizing: border-box;
    padding: 20px 1svw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5svw;
}
.star-archive{
    width: 20svw;
    height: 20svw;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    background: #00ccff;
}
.archive-icon{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#bot-archive.cleared-archive{
    animation: botLight 5s infinite linear;
}
#add-archive.cleared-archive{
    animation: addLight 5s infinite linear;
}
#up-archive.cleared-archive{
    animation: upLight 5s infinite linear;
}

@keyframes bright{
    0%{
        filter: brightness(100%);
    }
    40%{
        filter: brightness(170%);
    }
    100%{
        filter: brightness(100%);
    }
}

.cleared-archive img{
    animation: bright 8s ease-in infinite;
}

.archive-description{
    box-sizing: border-box;
    width: 280px;
    padding: 10px;
    background: #1a1a1af1;
}
.archive-title{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 1.3px 2.5%;
    font-weight: 900;
    color: #f7f7f7;
    font-size: 18px;
}
.archive-clear-title{
    color: #ffdd00;
    text-shadow: 0 0 5px #f7ffb6;
}
.archive-content{
    box-sizing: border-box;
    width: 100%;
    padding: 1.3px 2.5%;
    font-size: 14px;
    color: #c5c5c5;
    background: #000000e8;
    margin-top: 5px;
}

.clear-archive-container{
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    margin-top: 5px;
    position: relative;
}
.archive-clear-text{
    width: 100%;
    min-height: 50px;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #01d4e3;
    font-size: 45px;
    font-weight: 900;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.passive-content{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 1.3px 2.5%;
    color: #c5c5c5;
    text-decoration: line-through;
    position: absolute;
    background: #000000e8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* Setting */
#setting-container{
    gap: 80px;
}

.range-name{
    font-size: 40px;
    font-weight: 900;
    color: #ededed;
    text-align: left;
    padding: 0 15px;
    margin-bottom: 25px;
}

.volume-range{
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: linear-gradient(-184.5deg, #1d1d1d00 0%, #1d1d1d00 50%, #6f6f6ff2 50%, #6f6f6ff2 100%);
    height: 20px;
    width: 250px;
    border-radius: 0;
    outline: 0;
}
.volume-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #00ccff;
    width: 20px;
    height: 33px; 
}
.volume-range::-moz-range-thumb {
    background: #00ccff;
    width: 20px;
    height: 33px;
}
.volume-range::-moz-focus-outer {
    border: 0;
}
.volume-range:active::-webkit-slider-thumb {
    box-shadow: 0px 5px 10px -2px #00e1ffa4;
}